{% comment %} {% extends "index.html" %} {% endcomment %}
{% load static %}
{% block content %}
<h1> H.P</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
 
            {% for massage in massages %}
                
                {% if massage %}
                    <div class="alert alert-success">{{massage}}</div>
                {% endif %}
                    
            {% endfor %}
                

            <form action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.as_p}}

                <button class="btn btn-primary">simpan</button>
                <a herf="/produk" class="btn btn-danger">Kembali</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

